.hangman-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hangman-body {
  background: #111;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hangman-bg {
  width: 160px;
  height: 160px;
  background: #824b20;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  animation: anim 2s;
  animation-iteration-count: infinite;
}

.hangman-c {
  position: relative;
  width: 100px;
  height: 100px;
  background: #e08027;
  border-radius: 50%;
}

.hangman-r1 {
  background: #fff58f;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateX(-50px);
}

.hangman-r2 {
  background: #fff58f;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateX(50px);
}

.hangman-line {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  border: 20px solid transparent;
  border-bottom-color: #fff58f;
  border-right-color: #fff58f;
  transform: rotate(45deg);
}

@keyframes anim {
  0% {
    transform: rotate(0deg) sacle(1);
  }
  25% {
    transform: rotate(180deg) scale(1.3);
  }
  50% {
    transform: rotate(360deg) scale(1.3);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.Hangman {
  width: 400px;
  color: black;
  text-align: center;
  zoom: 1.3;
}

.Hangman img {
  border: 10px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.Hangman-word {
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.Hangman-btns {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
}

.Hangman button {
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: gray;
  color: #fff;
  box-shadow: 0 6px #bdbdbd;
  border-radius: 5px;
  padding-top: 4px;
}

.Hangman button:hover {
  background-color: #bdbdbd;
}

.Hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}
